* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: transparent;
}

button {
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-size: 30%;
}

button:hover {
    background-size: 40%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#hibernate {
  background-image: image(
    url("/home/kmdavidds/Projects/nixos-config/modules/home-manager/wlogout/icons/hibernate.png")
  );
}
#lock {
  background-image: image(
    url("/home/kmdavidds/Projects/nixos-config/modules/home-manager/wlogout/icons/lock.png")
  );
}
#reboot {
  background-image: image(
    url("/home/kmdavidds/Projects/nixos-config/modules/home-manager/wlogout/icons/reboot.png")
  );
}
#logout {
  background-image: image(
    url("/home/kmdavidds/Projects/nixos-config/modules/home-manager/wlogout/icons/logout.png")
  );
}
#shutdown {
  background-image: image(
    url("/home/kmdavidds/Projects/nixos-config/modules/home-manager/wlogout/icons/shutdown.png")
  );
}
#suspend {
  background-image: image(
    url("/home/kmdavidds/Projects/nixos-config/modules/home-manager/wlogout/icons/suspend.png")
  );
}
